<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>经理页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<h1>当前登录账号为：jingli</h1>
	<h4><a href="http://localhost:8080/activity/myApproval?userName=jingli">我的请假记录(点我)：</a></h4>
	<table>
		<tr>
			<th>请假人</th>
			<th>请假天数</th>
			<th>请假时间</th>
			<th>请假原因</th>
			<th>申请状态</th>
		</tr>
		<tr th:each="l : ${list}">
			<td th:text="${l.activiti.applyUser}"/>
			<td th:text="${l.activiti.days}"/>
			<td th:text="${l.activiti.applyTime}"/>
			<td th:text="${l.activiti.reason}"/>
			<td th:text="${l.activiti.applyStatus}"/>
		</tr>
	</table>
</body>
